.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: blue;
    height: 56px;
}

.toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding:0 1rem;
}

.toolbar__logo {
    margin-left: 1rem ;

}
.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1; 

}

.toolbar_navigations-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.toolbar_navigations-items li {
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;

}

.toolbar_navigations-items img {
        height: 50px;
        width: 50px;
        padding-right: 1rem;
}

.toolbar_navigation-items a {
    color: white;
    text-align: end;
}

