 .menu-ladim {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; 
    right: 0;
    width: 70%;
    max-width: 400px;
    z-index:  200;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

 .menu-ladim.open {
      transform: translateY(0);

}

 .menu-ladim ul {
   height: 100%;
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: justify;
}

.menu-ladim li {
   margin: 0.5rem 0;

}

.menu-ladim a {
   color: royalblue;
   text-decoration: none;
   font-size: 1.2rem;
}

.menu-ladim a:hover, 
.menu-ladim a:active {
   color: black;


}